@import '~normalize.css';

@import '_variables';
@import 'modules/hello.scss';
@import 'modules/editor.scss';

:root {
    --background-color: #333;
    --font-color: #14c704;
}

body {
    background: var(--background-color);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
